@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col">
        @{
            var alertPartialViewModel = new AlertPartialViewModel(AlertType.Danger, "予期しないエラーが発生しました。");
        }
        <partial name="_AlertPartial" model="alertPartialViewModel" />
    </div>
</div>
