@page
@model MyAspDotNet6App.Pages.MasterMaintenance.DepartmentModel
@{
    ViewData["Title"] = "部署マスター";
    ViewData["BreadCrumbs"] = new List<Tuple<string, string>> { Tuple.Create("/Index", "Home") };
    ViewData["ListColumns"] = new List<Tuple<string, string?>>
    {
        Tuple.Create<string, string?>("Seq.", null),
        Tuple.Create<string, string?>("部署コード", "department_code"),
        Tuple.Create<string, string?>("部署名", "department_name"),
    };
    ViewData["ModalTitle"] = "部署詳細";
}
<form id="searchConditionForm">
    <div class="row">
        <div class="col-3">
            <label asp-for="SearchCondition.DepartmentNamePart" class="form-label"></label>
            <input asp-for="SearchCondition.DepartmentNamePart" type="text" class="form-control" />
        </div>
    </div>
    <input asp-for="SearchCondition.OffsetRows" type="hidden" value="0" />
    <input asp-for="SearchCondition.SortItem" type="hidden" />
    <input asp-for="SearchCondition.SortType" type="hidden" />
    @Html.AntiForgeryToken()
</form>

<partial name="_SearchListPartial" />

<partial name="_ModalPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_SearchListScriptsPartial" />
    <partial name="_ModalScriptsPartial" />
}
