@page
@model MyAspDotNet6App.Pages.MasterMaintenance.MemberModel
@{
    ViewData["Title"] = "メンバーマスター";
    ViewData["BreadCrumbs"] = new List<Tuple<string, string>> { Tuple.Create("/Index", "Home") };
    ViewData["ListColumns"] = new List<Tuple<string, string?>>
    {
        Tuple.Create<string, string?>("Seq.", null),
        Tuple.Create<string, string?>("メンバーコード", "member_code"),
        Tuple.Create<string, string?>("氏名", null),
        Tuple.Create<string, string?>("カナ氏名", null),
        Tuple.Create<string, string?>("英字氏名", null),
        Tuple.Create<string, string?>("メールアドレス", null),
        Tuple.Create<string, string?>("着任日", "joined_date"),
    };
    ViewData["ModalTitle"] = "メンバー詳細";
}
<form id="searchConditionForm">
    <div class="row">
        <div class="col-3">
            <label asp-for="SearchCondition.MemberNamePart" class="form-label"></label>
            <input asp-for="SearchCondition.MemberNamePart" type="text" class="form-control" />
        </div>
        <div class="col-3">
            <label asp-for="SearchCondition.JoinedDateFrom" class="form-label"></label>
            <input asp-for="SearchCondition.JoinedDateFrom" type="date" class="form-control" />
        </div>
        <div class="col-3">
            <label asp-for="SearchCondition.JoinedDateTo" class="form-label"></label>
            <input asp-for="SearchCondition.JoinedDateTo" type="date" class="form-control" />
        </div>
    </div>
    <input asp-for="SearchCondition.OffsetRows" type="hidden" value="0" />
    <input asp-for="SearchCondition.SortItem" type="hidden" />
    <input asp-for="SearchCondition.SortType" type="hidden" />
    @Html.AntiForgeryToken()
</form>

<partial name="_SearchListPartial" />

<partial name="_ModalPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_SearchListScriptsPartial" />
    <partial name="_ModalScriptsPartial" />
}
