@model IEnumerable<Domain.User>
@{
}
<table class="table">
    <thead>
        <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>入社日</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.UserName</td>
            <td>@user.MailAddress</td>
            <td>@user.JoinedDate</td>
        </tr>
    }
</table>
