:root {
    --default-font-family: "Segoe UI",Meiryo,system-ui,-apple-system,Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: var(--default-font-family);
    margin-bottom: 60px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: smaller;
}

.btn-to-top {
    position: fixed;
    right: 24px;
    bottom: 6px;
    margin: 2rem auto;
    width: 52px;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    font-size: 1.5rem;
    cursor: pointer;
}
